.content2 {
    margin-top: 251px;
    margin-bottom: 137px;
}

.container {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 0 20px; 
}

.container_text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}

.t1, .t2 {
    max-width: 800px; 
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
    color: #22356F;
}